@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,1370;0,700;0,900;1,100;1,300;1,400;1,1370;1,700;1,900&display=swap');

body {
    background-color: #f1f1f1;
}

ul li {
    display: inline-block;
}

.nav {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 12.89px;
    margin-top: 21px;
    margin-bottom: 42px;
    margin-left: 137px;
}

.discovery {
    margin-left: 35px;
    margin-right: 35px;
}

.contact {
    margin-left: 35px;
    margin-right:35px;
}

.navigation-image {
    vertical-align: middle;
} 

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 28.13px;
    font-size: 24px;
    margin-left: 137px;
    margin-bottom: 27px;
}

.content h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44pxpx;
    color: #FFFFFF;
    position: absolute;
    padding-top: 32px;
    padding-left: 41px;
}

.content div {
    background-color: #FFFFFF;
    width: 362px;
    height: 171px;
	padding-top: 70px;
	padding-left: 40px;
    margin-bottom: 55px;
}

.content p {
    color: #8A8787;
    font-size: 10px;
    line-height: 11.72px;
}

.content span {
    color: #8A8787;
    font-size: 10px;
    line-height: 11.72px;
}

.content img {
    vertical-align: middle;
}

.content1 {
    margin-left: 137px;
}

.content2 {
    margin: 0px 40px;
}

.section1 {
    display: inline-block;
    width: 758px;
    height: 900px;
    margin-left: 137px;
}

.section2 {
    display: inline-block;
    vertical-align: 76px;
    margin-left: 45px;
    margin-right: 137px;
}

.section1 img {
    margin-bottom: 25px;
}

.section2 img {
    display: block;
    width: 362px;
    height: 212px;
}

.elephants {
    margin-top: 98px;
    margin-bottom: 103px;
}



